*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top;
    position: relative;
    overflow: hidden;

}
.navbar{
    margin-top: 30px;
    margin-left: 60px;
    font-size: larger;
    border: 2px solid #038a8a;
    width: 96.5px;
}
button{
    color:#000;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #000;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-weight: bold ;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content{
    color: #081818;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translateY(-50%);
    z-index: 2;
}
h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;  
    text-shadow: #000; 
}

.github { color: #2d8305; }
.twitter { color: #00aced; }
.linkedin { color: #0077b5; }
.medium { color: #329966; }

a:hover.github { color: #4078c0; }
a:hover.twitter { color: #009AD4; }
a:hover.linkedin { color: #00a0dc; }
a:hover.instagram { color: #db2777; }
a:hover.medium { color: #fbbf24; }

.bottum{
    justify-items: center;
    flex: content;

}
.social-link{
    text-decoration: none;
}


